.homePage {
  margin: 1.7em 0;
}

.head {
  font-size: 1.5rem;
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

hr {
  margin: 5px 20px;
  opacity: 0.7;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8px;
  padding: 10px;
  width: 30vh;
  height: 25vh;
  border-radius: 0.5em;
  text-align: center;
  flex-wrap: wrap;
  font-size: xx-large;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 8%) 0px 2px 8px;
  color: white;
}

.card > span {
  margin-left: 6px;
  text-align: left !important;
}

.container {
  margin: 4em 2em 6em;
  height: 40vh;
}

.rec.rec-arrow {
  border-radius: 50%;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.carousel-container {
  margin-top: 2em;
  height: 100%;
}

.rec-carousel-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.rec-carousel {
  height: 100% !important;
}
.rec-slider {
  height: 100%;
}

.rec-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-carousel-item-visible {
  transition: all 400ms ease-in-out;
}

.rec-carousel-item-visible:hover {
  cursor: pointer;
  transform: scale(1.2) !important;
}

.one {
  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.two {
  background: #fc354c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.three {
  background: #414d0b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #727a17,
    #414d0b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #727a17,
    #414d0b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  /* height: 1300px; */
  position: absolute;
  top: 0;
  left: 0;
}
