.homePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffc8dd;
  position: absolute;
  overflow-x: hidden;
}

.homeSection {
  z-index: 100;
}

.homeContainer {
  height: calc(95vh - 65px);
  display: flex;
  z-index: 10;
}
