@media screen and (max-width: 1000px) {
  .Lecture-content-box {
    width: 40% !important;
  }
  .lecture-main-content {
    grid-gap: 10% !important;
    margin: 8% 0% 8% 10% !important;
  }
}

body {
  background-color: #5f5f5f;
  margin-top: 50px;
}
.course-bar {
  background-color: #2e2e2e;
  margin: 20px 0;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.course-bar::-webkit-scrollbar {
  display: none;
}

.course-bar a {
  background-color: #ececec;
  color: black;
  padding: 3px 14px;
  margin: 10px;
  border-radius: 20px;
  font-size: 18px;
  min-width: max-content;
}
.course-Carousel-btn {
  position: absolute;
  width: 40px;
  height: 50px;

  background: rgb(0, 0, 0, 0.6);
  color: wheat;
  z-index: 2;
  margin-top: 2px;
  border: none;
}
.btn-right-course {
  right: 0px;
  border-radius: 50% 0 0 50%;
}
.btn-left-course {
  border-radius: 0 50% 50% 0;
}

.course-Carousel-btn:hover {
  background: rgba(0, 0, 0);
}

.screen {
  height: 40%;
  background-color: black;
  margin: 32px 20px;
}
.lecture-main-content {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8%;
  margin: 8% 0% 8% 8%;
}
.Lecture-box-heading {
  color: black;
  margin: 15px;
  min-height: 50px;
}
.Lecture-content-box {
  width: 25%;
  height: 402px;
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 50px;
}

.Lecture-box-content-small {
  color: black;
  padding: 8px 25px 0px 31px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
